.jumbotron {
  background-color: burlywood !important;
}

body {
  background-color: rgb(245, 226, 201);
}

h1 {
  font-family: 'Cherry Cream Soda', cursive !important;
  font-size: 68px !important;
  color: rgb(51, 25, 25) !important;
}

h2 {
  font-family: 'Cherry Cream Soda', cursive !important;
  color: rgb(51, 25, 25) !important;

}

#orderStation {
  margin-bottom: 30px;
}

#order {
  color: burlywood;
  background-color:  rgb(51, 25, 25) !important;
}

.delete-burger {
  color: rgb(245, 226, 201);
  background-color:  rgb(51, 25, 25) !important;
}

.change-devoured {
  color: rgb(245, 226, 201);
  background-color:  rgb(51, 25, 25) !important;

}
li {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold !important;
  color: rgb(51, 25, 25) !important;
  padding: 15px;
  margin: 5px;
  background-color: burlywood !important;
  border-radius: 12px !important;
}

label {
  font-weight: bold !important;
}

.create-form {
  margin-top: 15px;
}

.form-group {
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  color: rgb(51, 25, 25) !important;

  font-size: 18px;
}

#burgerPic {
  max-width: 300px;
}







/* font-family: 'Cherry Cream Soda', cursive;
font-family: 'Raleway', sans-serif; */